{% extends 'gifts/base.html' %}

{% block content%}
<div class="containier">
  {% load crispy_forms_tags %}
  <form method="POST" enctype="multipart/form-data" >

    {% csrf_token %}
    {{ form|crispy }}
<br>
<input type="submit" class="btn btn-primary" value="Add Gift" >
  </form>

<script>
$(document).ready(function(){
 $( ".textInput" ).removeClass("textInput").addClass("form-control");
 $( ".btn-primary" ).addClass("addGiftBtn");

})
</script>

{%endblock%}
