{% extends 'gifts/base.html' %}

{% block content %}
<div class="row">
<div class="col-12 text-center">

<a id="btnAddItem" class="btn btn-lg custombtn-lg"
href="{% url 'create_gift' %}"
>
  Add Gift
</a>
<br/>
<br/>
</div>
</div>
{% if  user.is_authenticated %}
<div class="row">
  {% for gift in gifts %}
  <div class="col-sm-12 col-md-4 col-lg-3 " style="border:1px #A01E3E solid; margin:2px 2px 2px 2px">
<form method="POST" action="{%url 'delete_gift' gift.id %}" >
  {% csrf_token %}
<div class="xsubmit">x</div>
</form>
<table class="giftarea">
  <tr>
  <td>
    <img src="{{gift.image.url}}" width='55px'/>
  </td>

    <td>
    <span>First name:</span>{{gift.fname}}<br>
    <span>First name:</span>{{gift.lname}}<br>
    <span>Gift:</span>{{gift.giftname}}<br>
    <td>
      </tr>

</table>
<a  href="{%url 'update_gift' gift.id %}">Update</a>
  </div>
  {%endfor%}
</div>
{% endif %}
<script>
  $(document).ready(function(){

    $('.xsubmit').click(function(){
    $(this).parent().submit();
    });
  });
</script>



{% endblock %}
