{% extends 'gifts/base.html' %}

{% block content%}
<div class="containier">
<div class="row justify-content-center" >
<div class="col-12" >
<div class="signup-box">
{% load crispy_forms_tags %}
  <form method="POST">
    {% csrf_token %}
  {{ form|crispy }}
  <br/>
<button type="submit" class="btn btn-primary" >
Login
</button>
  </form>
</div>
</div>
</div>
</div>

<script>
$(document).ready(function(){
 $( ".textInput" ).removeClass("textInput").addClass("form-control");
 $( ".btn-primary" ).addClass("loginBtn");

})
</script>
{%endblock%}
