{% extends 'gifts/base.html' %}

{% block content%}

<div class="row align-items-center">
<div class="col">
  <div class="signup-box">
  {% load crispy_forms_tags %}
  <form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
<button type="submit" class="btn btn-primary" >
Sign up!
</button>
  </form>
  <script>
  $(document).ready(function(){
   $( ".textInput" ).removeClass("textInput").addClass("form-control");
   $( ".btn-primary" ).addClass("addGiftBtn");
   console.log( $( ".controls ul" ).html() );

  })
  </script>
</div>
</div>


</div>
{%endblock%}
