.cusomttopnavbar{
background-color: #0C4B33 !important;

}
.custombtn-lg{
  background-color: #44B78B;
  width: 250px;
  margin-top: 20px;
    border-radius: 0 !important;
}

.center-block {
   margin-left:auto;
   margin-right:auto;
   display:block;
}
.form-control:focus,.form-control:hover:not([disabled]) {
    border-bottom-width: 2px;
    padding-bottom: 2px;
    border-bottom-color: #008a00;
    outline: 0;
}

.form-control
{
   border: 1px solid #dadada;
    border-radius: 0 !important;
}
.addGiftBtn{
 background-color: #A01E3E;

}

.loginBtn{
 background-color: #008a00 !important;
 border-color: #000!important;;
}


.giftarea{
font-size:13px;
font-family: serif;

}

.controls ul { display:none !important}


.signup-box{
    background-color: #f5f9f7;
    width:75%;
    padding: 15px 15px 15px 15px;
    margin-top:10px;
}

.login-box{
    background-color: #f5f9f7;
    width:65%;
    padding: 10px 10px 10px 10px;
    margin-top:10px;
}
.help-block{
  color:#A01E3E;
}


.giftarea span{
font-weight: bold;

}
.xsubmit{
float:left;
font-weight: bold;
color:red;
cursor:pointer;

}

.xupdate{
font-weight: bold;
background-color: #0C4B33;
cursor:pointer;

}
